.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 6%;
  background-color: #242424;
}
.aboutimg{
  flex-basis: 40.11%;
  
}
.about .aboutimg img{
  max-width: 100%;
}
.abouttext{
  margin-left: 30px;
  flex-basis: 60.11%;
}
.abouttext i {
  font-size: 32px;
  color: #fff;
  padding-bottom: 20px;
  background-color: #fd4766;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
}
.abouttext h2{
  color: #fff;
  font-size: 62px;
  font-weight: bold;
  padding-bottom: 30px;

}
.abouttext p{
  color: #c6c9d8bf;
  font-size: 17px;
  padding-bottom: 30px;
}
.abouttext a{
  background: linear-gradient(120deg,#1c99fe 20.69%,#7644ff 50.19%,#fd4766 79.69%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


@media (max-width:768px){
.about{
  flex-direction: column;
}
.aboutimg img{
    width: 100%;
    margin-bottom: 20px;
  }
}
